<a href="/mygiving" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 @Html.IsActive("MyGiving", "Index", true)">Dashboard</a>
<a href="/mygiving/paymentmethods" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 @Html.IsActive("MyGiving", "PaymentMethods", true)">Payment Methods</a>
<a href="/mygiving/history" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 @Html.IsActive("MyGiving", "History", true)">History</a>
<a href="/mygiving/statements" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 @Html.IsActive("MyGiving", "Statements", true)">Statements</a>