@using System.Configuration

@{
    ViewBag.Title = "Prayer Requests";
}

<style>
    .text-danger {
        color: #FFA800;
    }

    .text-warning {
        color: #F64E60;
    }

    .text-success {
        color: #1BC5BD;
    }

    .text-info {
        color: #8950FC !important;
    }

    .text-light-dark {
        color: #D6D6E0;
    }
</style>

<header class="header online-payment-header section color-1 alpha-8">
    <div id="stripes">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container overflow-hidden bring-to-front">
        <div class="row">
            <div class="col-md-6">
                <h1 class="color-1 bold">
                    Prayer Requests
                    <span class="d-block light">Connect with your church family through prayer</span>
                </h1>
                <p class="lead">Receive and manage prayer requests. Group incoming requests by categories and labels such as confidential, urgent, grief, and more.</p>
                <nav class="nav mt-5">
                    <a href="@($"{ConfigurationManager.AppSettings["DashboardUrl"]}Account/Register")" class="nav-link mr-3 btn btn btn-rounded btn-1">Sign up free</a>
                </nav>
                <p>No credit card required. Cancel anytime.</p>
            </div>
            <div class="col-md-6">
                <img src="~/Content/img/bg/prayer-request.svg" class="img-hero img-responsive absolute-md" alt="">
            </div>
        </div>
    </div>
</header>
<section class="section">
    <div class="container-wide pt-5">
        <div class="section-heading text-center">
            <h2 class="bold">
                Labels and Categories
            </h2>
        </div>
        <div class="row gap-y align-items-center text-center text-lg-left">
            <div class="col-10 col-lg-4 mx-auto">
                <div class="row gap-y text-center text-md-left">
                    <div class="col-md-6">
                        <i class="fa fa-exclamation-circle fa-3x text-danger"></i>
                        <p class="my-0 bold lead color--4">High Priority</p>
                        <p>Some requests are a little more urgent than others. Automatically notify your pastoral staff and prayer team whenever a high priority request comes in.</p>
                    </div>
                    <div class="col-md-6">
                        <i class="fa fa-lock fa-3x text-warning"></i>
                        <p class="my-0 bold lead color--4">Confidential</p>
                        <p>Confidential prayer requests are reserved for the pastoral staff only.</p>
                    </div>
                    <div class="col-md-6">
                        <i class="fas fa-user-check fa-3x text-info"></i>
                        <p class="my-0 bold lead color--4">Follow-Up Required</p>
                        <p>Group requests needing a follow up. Know when they were contacted and who reached out to them.</p>
                    </div>
                    <div class="col-md-6">
                        <i class="fas fa-sad-tear fa-3x text-light-dark"></i>
                        <p class="my-0 bold lead color--4">Grief & Job Loss</p>
                        <p>We've all gotten the news that a family member has passed on or know a friend that lost a job. Reach out to those who need a little T.L.C.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 pr-0">
                <img src="~/Content/img/screens/dash/prayer_requests.png" alt="" class="img-responsive shadow" data-aos="fade-left">
            </div>
        </div>
    </div>
</section>
@*<div class="section b-b b-t bg-6">
        <div class="container-wide">
            <div class="row gap-y align-items-center">
                <div class="col-12 col-lg-6 pl-0">
                    <div class="device-twin align-items-center mt-4 mt-lg-0">
                        <div class="browser shadow" data-aos="fade-right">
                            <img src="~/Content/img/screens/dash/4.png" alt="...">
                        </div>
                        <div class="front iphone-x absolute d-none d-sm-block" data-aos="fade-up" data-aos-delay=".5" style="right: 0; bottom: -1.5rem;">
                            <div class="screen">
                                <img src="~/Content/img/screens/app/1.png" alt="...">
                            </div>
                            <div class="notch"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 mx-auto">
                    <div class="section-heading">
                        <h2 class="bold">Automated Giving Statements</h2>
                        <p class="lead">Generate and email giving statements automatically. No more printing and stuffing envelopes or trips to the post office. Think about where you can spend that extra time and postage savings?</p>
                    </div>
                    <p>Set a date you want the giving statements to be generated on. Praise will automatically create and email the statements to any donor that gave in the prior year. Statements can still be printed for those that want a physical copy.</p>
                </div>
            </div>
        </div>
    </div>*@