@using PraiseCMS.Shared.Methods
@model PraiseCMS.DataAccess.Models.ViewModels.DashboardViewModel
@{
    var baptisms = 0;

    if (Model.Baptisms.IsNotNull() && Model.Baptisms.Count > 0)
    {
        baptisms = Model.Baptisms.Sum(x => x.Total);
    }
}

<a href="reports/baptismsummary" class="card card-custom bg-danger bg-hover-state-danger gutter-b" data-toggle="tooltip" data-placement="top" title="View Baptism Summary">
    <div class="card-body">
        <i class="fa fa-users fa-2x text-white"></i>
        <span class="card-title font-weight-bolder text-white font-size-h3 mb-0 mt-6 d-block">@baptisms.ToNumberString()</span>
        <span class="font-weight-bold text-white">Baptisms - YTD</span>
    </div>
</a>