<a href="/giving" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 module- @Html.IsActive("giving", "Index", true)">Giving Dashboard</a>
<a href="/giving/offlinegiving" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 module- @Html.IsActive("giving", "offlinegiving", true)">Offline Giving</a>
<a href="/funds" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 module- @Html.IsActive("funds", "Index", true)">Funds</a>
@*<a class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Reports
</a>
<div class="dropdown-menu">
    <a class="dropdown-item module-2655191752866598e6a28349b49854" href="/giving/MonthlyPaymentSummary?startDate=@(Convert.ToDateTime(DateTime.Now.Month + "/1/" + DateTime.Now.Year).ToShortDateString())&endDate=@(DateTime.Now.ToShortDateString())">Monthly Payment Summary</a>
    <a class="dropdown-item module-284516098378accc7252e6425c9a22" href="/giving/DepositSummary?startDate=@(Convert.ToDateTime(DateTime.Now.Month + "/1/" + DateTime.Now.Year).ToShortDateString())&endDate=@(DateTime.Now.ToShortDateString())">Deposit Summary</a>
    <a class="dropdown-item module-298682096646f3125e210b4b0c9451" href="/giving/DepositDetails?startDate=@(Convert.ToDateTime(DateTime.Now.Month + "/1/" + DateTime.Now.Year).ToShortDateString())&endDate=@(DateTime.Now.ToShortDateString())">Deposit Details</a>
    <a class="dropdown-item module-312694680801457dd71bf14a34afa4" href="/giving/DepositDesignationDetails">Deposit Designation Details</a>
</div>*@