@model IEnumerable<PraiseCMS.DataAccess.Models.SermonTopic>

@{
    ViewBag.Title = "Sermon Topics";
}

<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fa fa-bible"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @ViewBag.Title
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            @if (Model.Any())
            {
                foreach (var topic in Model)
                {
                    <div class="col-md-4" style="margin-bottom:20px;">
                        <a href="@Url.Action("Sermons", "Media", new { topicId = topic.Id})" class="kt-link">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/assets/media/products/product2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@topic.Title</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>