<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <title>Praise Church Management Solutions</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" href="~/favicon.ico">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/cookieconsent.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/helper.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/odometer-theme-minimal.css">
    <link rel="stylesheet" href="~/Content/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="~/Content/css/prettify.css">
    <link rel="stylesheet" href="~/Content/css/simplebar.css">
    <link rel="stylesheet" href="~/Content/css/smart_wizard.css">
    <link rel="stylesheet" href="~/Content/css/smart_wizard_theme_arrows.css">
    <link rel="stylesheet" href="~/Content/css/smart_wizard_theme_circles.css">
    <link rel="stylesheet" href="~/Content/css/smart_wizard_theme_dots.css">
    <link rel="stylesheet" href="~/Content/css/swiper.css">
    <link rel="stylesheet" href="~/Content/css/styles.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-75LGFX84BG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-75LGFX84BG');
    </script>
</head>