<!doctype html>
<html lang="en">
    @Html.Partial("_Head")
    <body>
        @Html.Partial("_Navbar")
        <main class="position-relative overflow-hidden">
            @RenderBody()
        </main>
        @Html.Partial("_Footer")
    </body>
</html>