@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Success</title>
    <meta name="description" content="Updates and statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <link href="~/Content/assets/sass/style.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/pages/error/error-5.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <style type="text/css">
        body {
            background-color: #fff !important;
        }

        .kt-error_title h1 {
            font-size: 32px !important;
            margin-top: 10rem !important;
        }

        .kt-error_subtitle {
            font-size: 18px !important;
        }

        .kt-error_description {
            font-size: 14px !important;
            line-height: 20px !important;
        }
    </style>
</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">
    <div class="kt-grid kt-grid--ver kt-grid--root kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v5" style="background-image: url(assets/media/error/bg5.jpg);">
            <div class="kt-error_container">
                <div class="kt-error_title">
                    <h1>Thank you.</h1>
                </div>
                <p class="kt-error_subtitle">
                    Please check your email and confirm your email address
                </p>
                <p class="kt-error_description">
                    A confirmation email has been sent to you. It may take a few minutes.<br />
                    Follow the direction in the email to confirm and complete your account.
                </p>
            </div>
        </div>
    </div>
</body>
</html>