@{
    ViewBag.Title = "Index";
}
<header class="header online-payment-header section color-1 alpha-8">
    <div id="stripes">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container overflow-hidden bring-to-front">
        <div class="row">
            <div class="col-md-6">
                <h1 class="color-1 bold">
                    Flexible Payment Options
                    <span class="d-block light">make it easy to grow your church</span>
                </h1>
                <p class="lead">The Praise CMS platform features automated and one-time giving, fund requests, and generosity appreciation.</p>
                <nav class="nav mt-5">
                    <a href="#" class="nav-link mr-3 btn btn btn-rounded btn-1">
                        <i class="fas fa-tag mr-3"></i> Plans & pricing
                    </a>
                    <a href="#" class="nav-link btn btn-rounded btn-success">Start now</a>
                </nav>
            </div>
            <div class="col-md-6">
                <img src="~/Content/img/bg/online-payment.svg" class="img-hero img-responsive absolute-md" alt="">
            </div>
        </div>
    </div>
</header>
<section class="section">
    <div class="container pt-5">
        <div class="section-heading text-center">
            <h2 class="bold">
                Payments Made Easy
            </h2>
            <p class="lead color-2">Culpa cupiditate deleniti dignissimos ducimus fugit id impedit ipsa itaque, laborum libero maiores nam non nulla quasi quia quisquam temporibus ullam voluptate.</p>
        </div>
        <div class="row">
            <div class="col">
                <div class="shadow bg-1 p-4 rounded">
                    <form action="srv/contact.php" method="post" class="form form-contact" name="form-contact" data-response-message-animation="slide-in-up" novalidate="novalidate">
                        <div class="form-group">
                            <label for="contact_email" class="bold mb-0">Gift Type</label>
                            <small id="emailHelp" class="form-text color-2 mt-0 mb-2 italic">We'll never share your email with anyone else.</small>
                            <input type="email" id="contact_email" class="form-control bg-1">
                        </div>
                        <div class="form-group">
                            <label for="contact_email" class="bold">Subject</label>
                            <input type="text" name="Contact[subject]" id="contact_subject" class="form-control bg-1" placeholder="Subject" required="">
                        </div>
                        <div class="form-group">
                            <button id="contact-submit" data-loading-text="Sending..." name="submit" type="submit" class="btn btn-accent btn-rounded">Send Message</button>
                        </div>
                    </form>
                    <div class="response-message">
                        <div class="section-heading">
                            <i class="fas fa-check font-lg"></i>
                            <p class="font-md m-0">Thank you!</p>
                            <p class="response">Your message has been send, we will contact you as soon as possible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container pt-5">
        <div class="section-heading text-center">
            <h2 class="bold">
                A Complete
                <span class="bold">Customer Management</span> to power your sales
            </h2>
            <p class="lead color-2">Culpa cupiditate deleniti dignissimos ducimus fugit id impedit ipsa itaque, laborum libero maiores nam non nulla quasi quia quisquam temporibus ullam voluptate.</p>
        </div>
        <div class="centered-screen">
            <div class="absolute-md right message text-center text-md-left" data-aos="fade-up" data-aos-delay="500">
                <span class="bg-3 p-3 m-0 color-1 arrow bottom small rounded">Customers administration.</span>
            </div>
            <div class="px-5 mt-5 mt-md-0">
                <img src="~/Content/img/screens/payments/customer-list.png" alt="" class="shadow-lg rounded img-responsive mx-auto op-7">
            </div>
            <img src="~/Content/img/screens/payments/highlight.png" alt="" class="absolute shadow-lg rounded img-responsive screen-highlight" data-aos="zoom-in">
        </div>
    </div>
</section>
<section class="section overflow-hidden">
    <div class="container pt-4 bring-to-front">
        <div class="row">
            <div class="col-md-10 mx-md-auto">
                <form action="srv/register.php" class="form" data-response-message-animation="slide-in-left" novalidate="novalidate">
                    <div class="input-group-register py-4">
                        <input type="email" name="Subscribe[email]" class="form-control shadow-lg bg-1 form-control-rounded" placeholder="Enter your email" required="">
                        <button class="btn btn-rounded btn-accent btn-lg" type="submit">Register</button>
                    </div>
                </form>
                <div class="response-message">
                    <i class="fas fa-envelope font-lg"></i>
                    <p class="font-md m-0">Check your email</p>
                    <p class="response">We sent you an email with a link to get started. You'll be in your account in no time.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section shape-testimonials edge bg-6 top-left">
    <div class="shape-wrapper">
        <svg class="shape h-100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 249.28 253.71">
            <defs>
                <style>
                    .cls-1 {
                        opacity: 0.7;
                        fill: url(#linear-gradient);
                    }
                </style>
                <linearGradient id="linear-gradient" y1="126.86" x2="249.28" y2="126.86" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#b620b4" />
                    <stop offset="0.23" stop-color="#ad23b5" />
                    <stop offset="0.6" stop-color="#952bb8" />
                    <stop offset="1" stop-color="#7437bc" />
                </linearGradient>
            </defs>
            <title>shape</title>
            <g id="Capa_2" data-name="Capa 2">
                <g id="OBJECTS">
                    <path class="cls-1" d="M236.5,78.38a75.26,75.26,0,0,0-7.74-9.67l0,0S182.91,16.47,105.14,2l0,0A83.91,83.91,0,0,0,4.53,69.71C-11.34,147,19.55,209,19.73,209.4a75,75,0,0,0,6,10.77c19.06,28.33,54.33,39.57,86.73,30.43,0,0,52.47-12.9,111.35-71.37h0C251.68,152.56,257.84,110.1,236.5,78.38Z" />
                </g>
            </g>
        </svg>
    </div>
    <div class="container bring-to-front">
        <div class="row">
            <div class="col-lg-6 ml-lg-auto">
                <div class="section-heading text-center text-lg-left">
                    <h2 class="bold">We've heard our customers say</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 order-sm-2 image-background contain" style="background-image: url(img/shps/map-dots.svg);">
                <div class="user-reviews" id="user-review-nav">
                    <div class="review absolute user nav-item active" style="left: calc(50% - 40px); top: 75px;" data-step="1">
                        <div class="text">
                            <img src="~/Content/img/avatar/1.jpg" class="img-responsive shadow rounded-circle" alt="..." data-aos="zoom-in">
                        </div>
                    </div>
                    <div class="review absolute user nav-item" style="left: 0; top: 140px;" data-step="2">
                        <div class="text">
                            <img src="~/Content/img/avatar/2.jpg" class="img-responsive shadow rounded-circle" alt="..." data-aos="zoom-in">
                        </div>
                    </div>
                    <div class="review absolute user nav-item" style="left: calc(100% - 80px); top: 300px;" data-step="3">
                        <div class="text">
                            <img src="~/Content/img/avatar/3.jpg" class="img-responsive shadow rounded-circle" alt="..." data-aos="zoom-in">
                        </div>
                    </div>
                    <div class="review absolute user nav-item" style="left: calc(100% - 80px); top: 200px;" data-step="4">
                        <div class="text">
                            <img src="~/Content/img/avatar/4.jpg" class="img-responsive shadow rounded-circle" alt="..." data-aos="zoom-in">
                        </div>
                    </div>
                    <div class="review absolute user nav-item" style="left: 50%; top: 63%;" data-step="5">
                        <div class="text">
                            <img src="~/Content/img/avatar/5.jpg" class="img-responsive shadow rounded-circle" alt="..." data-aos="zoom-in">
                        </div>
                    </div>
                    <div class="review absolute user nav-item" style="left: 27%; top: 30%;" data-step="6">
                        <div class="text">
                            <img src="~/Content/img/avatar/6.jpg" class="img-responsive shadow rounded-circle" alt="..." data-aos="zoom-in">
                        </div>
                    </div>
                    <div class="review absolute user nav-item" style="left: 27%; top: 54%;" data-step="7">
                        <div class="text">
                            <img src="~/Content/img/avatar/7.jpg" class="img-responsive shadow rounded-circle" alt="..." data-aos="zoom-in">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="swiper-container" data-sw-navigation="#user-review-nav">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <blockquote>
                                <p class="lead bold">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam.</p>
                                <hr class="w-10 mt-5">
                                <div class="small">
                                    <span class="bold d-block">Jane Doe,</span> Marketing Director
                                </div>
                            </blockquote>
                        </div>
                        <div class="swiper-slide">
                            <blockquote>
                                <p class="lead bold">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam.</p>
                                <hr class="w-10 mt-5">
                                <div class="small">
                                    <span class="bold d-block">Jane Doe,</span> Marketing Director
                                </div>
                            </blockquote>
                        </div>
                        <div class="swiper-slide">
                            <blockquote>
                                <p class="lead bold">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam.</p>
                                <hr class="w-10 mt-5">
                                <div class="small">
                                    <span class="bold d-block">Jane Doe,</span> Marketing Director
                                </div>
                            </blockquote>
                        </div>
                        <div class="swiper-slide">
                            <blockquote>
                                <p class="lead bold">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam.</p>
                                <hr class="w-10 mt-5">
                                <div class="small">
                                    <span class="bold d-block">Jane Doe,</span> Marketing Director
                                </div>
                            </blockquote>
                        </div>
                        <div class="swiper-slide">
                            <blockquote>
                                <p class="lead bold">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam.</p>
                                <hr class="w-10 mt-5">
                                <div class="small">
                                    <span class="bold d-block">Jane Doe,</span> Marketing Director
                                </div>
                            </blockquote>
                        </div>
                        <div class="swiper-slide">
                            <blockquote>
                                <p class="lead bold">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam.</p>
                                <hr class="w-10 mt-5">
                                <div class="small">
                                    <span class="bold d-block">Jane Doe,</span> Marketing Director
                                </div>
                            </blockquote>
                        </div>
                        <div class="swiper-slide">
                            <blockquote>
                                <p class="lead bold">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam.</p>
                                <hr class="w-10 mt-5">
                                <div class="small">
                                    <span class="bold d-block">Jane Doe,</span> Marketing Director
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bg-6">
    <div class="container">
        <h4 class="bold text-center mb-5 color-2">They trust us... would you?</h4>
        <div class="row gap-y">
            <div class="col-md-3 col-xs-4 col-6 px-md-5">
                <img src="~/Content/img/logos/1.png" alt="" class="img-responsive mx-auto op-7" style="max-height: 60px">
            </div>
            <div class="col-md-3 col-xs-4 col-6 px-md-5">
                <img src="~/Content/img/logos/2.png" alt="" class="img-responsive mx-auto op-7" style="max-height: 60px">
            </div>
            <div class="col-md-3 col-xs-4 col-6 px-md-5">
                <img src="~/Content/img/logos/3.png" alt="" class="img-responsive mx-auto op-7" style="max-height: 60px">
            </div>
            <div class="col-md-3 col-xs-4 col-6 px-md-5">
                <img src="~/Content/img/logos/4.png" alt="" class="img-responsive mx-auto op-7" style="max-height: 60px">
            </div>
        </div>
    </div>
</section>
<section class="section bg-6 send-and-receive">
    <div class="container bring-to-front">
        <div class="row gap-y">
            <div class="col-md-6">
                <div class="rounded bg-1 shadow-box image-background contain off-left-background p-4 pl-6 pl-md-9" style="background-image: url(../../Content/img/shps/payments/send.svg)">
                    <h3>Send Payments</h3>
                    <p class="color-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eveniet nihil perspiciatis quia quidem quod ratione sapiente sint?</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rounded bg-1 shadow-box image-background contain off-left-background p-4 pl-6 pl-md-9" style="background-image: url(../../Content/img/shps/payments/get.svg)">
                    <h3>Receive Payment</h3>
                    <p class="color-2 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eveniet nihil perspiciatis quia quidem quod ratione sapiente sint?</p>
                </div>
            </div>
        </div>
    </div>
</section>