@{
    var alert = TempData.ContainsKey(TempDataKeys.AlertMessage) ? (AlertMessage)TempData[TempDataKeys.AlertMessage] : null;
}
@if (alert != null)
{
    <div id="alert-container">
        <div class="alert alert-custom alert-notice @alert.Type fade show mb-5" role="alert">
            <div class="alert-icon"><i class="@alert.Icon"></i></div>
            <div class="alert-text">@Html.Raw(alert.Message)</div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="ki ki-close"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
}