<div class="footer bg-white py-4 d-flex flex-lg-column " id="kt_footer">
    <div class=" container-fluid  d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted font-weight-bold mr-2">&copy; @DateTime.Now.Year Praise, LLC. All rights reserved.</span>
            @*<span class="text-muted font-weight-bold mr-2 d-print-none geo-message" style="display:none;"></span>*@
        </div>
        <div class="nav nav-dark d-print-none">            
            <a href="/support" class="nav-link pl-0 pr-0">Help Center</a>
        </div>
    </div>
</div>