<div class="dropdown" id="kt_quick_search_toggle">
    <div class="topbar-item module-3945331773531b9f3a7e6841e38f41" data-toggle="dropdown" data-offset="10px,0px">
        <div class="btn btn-icon btn-clean btn-lg btn-dropdown mr-1" data-toggle="tooltip" title="Search the site" data-placement="bottom">
            <i class="fas fa-search text-hover-primary"></i>
        </div>
    </div>
    <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
        <div class="quick-search quick-search-dropdown" id="kt_quick_search_dropdown">
            <form method="get" class="quick-search-form">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input type="text" id="searchTxtInput" class="form-control" placeholder="Search for people, events, reports, etc." />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="quick-search-close ki ki-close icon-sm text-muted"></i>
                        </span>
                    </div>
                </div>
            </form>
            <div class="quick-search-wrapper scroll" data-scroll="true" data-height="325" data-mobile-height="200"></div>
        </div>
    </div>
</div>