@using (Html.BeginForm("Upload", "Users", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
{
    <div class="form-group">
        <label>File:</label>
        <input class="form-control" type="file" name="UploadedFile" />
    </div>
}

<script type="text/javascript">

</script>

