<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=ec2-52-0-44-115.compute-1.amazonaws.com;Initial Catalog=PraiseCMS;User ID=sa;Password=cFTXsDm#12;Trusted_Connection=False;"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(name)" />
	</connectionStrings>

	<appSettings>
		<add key="Environment.Name" value="PROD"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(key)" />
		<add key="Environment.Url" value="https://app.praisecms.com"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(key)" />
		<add key="IsDevEnvironment" value="false"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(key)" />
		<add key="EmailsTurnedOn" value="true"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(key)" />
		<add key="SMSTurnedOn" value="true"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(key)" />
	</appSettings>
</configuration>