<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
			type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			requirePermission="false"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
			<section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true"/>
			<section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true"/>
			<section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true"/>
			<section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--DEV database-->
		<add name="DefaultConnection"
			connectionString="Data Source=ec2-52-0-44-115.compute-1.amazonaws.com;Initial Catalog=PraiseCMS;User ID=sa;Password=cFTXsDm#12;Trusted_Connection=False;"
			providerName="System.Data.SqlClient"/>
		<!--PROD Database - AWS Server-->
		<!--<add name="DefaultConnection" connectionString="Data Source=ec2-52-0-44-115.compute-1.amazonaws.com;Initial Catalog=PraiseCMS;User ID=sa;Password=cFTXsDm#12;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="app.version" value="v1.0.0"/>
		<add key="SiteName" value="Praise"/>
		<add key="SiteTitle" value="Praise Church Management Solutions"/>
		<add key="SiteKeywords" value=""/>
		<add key="SiteDescription" value=""/>
		<add key="IsDevEnvironment" value="false"/>
		<add key="IsLoggingEnabled" value="true"/>
		<!--Current Environment Config :: START-->
		<!--Update this value and it will cascade below-->
		<add key="Environment.Name" value="PROD"/>
		<add key="Environment.Url" value="https://app.praisecms.com"/>
		<!--<add key="Environment.Current" value="PROD" />-->
		<!--End Current Environment Config :: END-->
		<!--SubscriptionFee :: START-->
		<add key="AnnualSubscriptionFee" value="399.90"/>
		<add key="MonthlySubscriptionFee" value="39.99"/>
		<!--SubscriptionFee :: END-->
		<!--Subscription Free Trial :: START-->
		<add key="FreeTrialDays" value="30"/>
		<!--Subscription Free Trial :: END-->
		<!--Social Media Login API :: START-->
		<add key="Facebook.Id" value="366635203535673"/>
		<add key="Facebook.Secret" value="e20e335529403fda610894af1d277abb"/>
		<add key="Google.Id" value="913687355044-qgkcd1sgj87958kbj9j82gv9tmqnojkn.apps.googleusercontent.com"/>
		<add key="Google.Secret" value="MMTXshtlyxCPtCyPtl5Mzppx"/>
		<add key="Google.CallBackUri" value="https://app.praisecms.com/Account/GoogleCallBack"/>
		<add key="Google.Scope"
			value="https://www.googleapis.com/auth/user.phonenumbers.read https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/plus.login"/>
		<!--Social Media Login API :: END-->
		<add key="Upload.Files" value="/Uploads/Files"/>
		<add key="Upload.Images" value="/Uploads/Images"/>
		<add key="Upload.Logos" value="/Uploads/Logos"/>
		<add key="SiteReCaptchaSiteKey" value="6LcOHlIaAAAAALNHOif5JyRS1LD8eQOaJdnngg4O"/>
		<add key="SiteReCaptchaSecretKey" value="6LcOHlIaAAAAAAvWnKh-xPYTFFDB0CHMYBhSc1uK"/>
		<add key="SiteTwoFactorAuth" value="false"/>
		<!-- Email & SMS :: START -->
		<add key="EmailDisplay" value="Praise CMS"/>
		<add key="EmailReplyTo" value="info@praisecms.com"/>
		<add key="EmailsTurnedOn" value="true"/>
		<add key="SMSTurnedOn" value="true"/>
		<add key="SMSTestPhoneNumber" value="(205) 915-7429"/>
		<add key="EmailUsername" value="info@praisecms.com"/>
		<add key="EmailPassword" value="zllf xizw cmvt pbxk"/>
		<add key="SuperAdminEmail" value="info@praisecms.com"/>
		<add key="SupportEmail" value="info@praisecms.com"/>
		<add key="EmailSmtpServer" value="smtp.gmail.com"/>
		<add key="EmailPort" value="587"/>
		<add key="EmailEnableSsl" value="true"/>
		<add key="SmsAccountSid" value="AC7e9a1c9ca041e56393877e9bdd5c0d8e"/>
		<add key="SmsAuthToken" value="eb151c27de95f768a7739081ec370264"/>
		<add key="SmsFromNumber" value="+12015848423"/>
		<!-- Email & SMS :: END -->
		<!-- AWS S3 :: START -->
		<add key="AwsBucketName" value="praisecms"/>
		<add key="AwsAccessKey" value="AKIAJEPO6HXHZP5KAXPQ"/>
		<add key="AwsSecretKey" value="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"/>
		<add key="AwsThumbDirectory" value="thumbs"/>
		<add key="AwsIconDirectory" value="icons"/>
		<add key="AwsPathTemplate" value="https://{bucket}.s3.amazonaws.com/"/>
		<add key="AwsEndpoint" value="https://s3.amazonaws.com"/>
		<!-- AWS S3 :: END -->
		<add key="GoogleMapsApiKey" value="AIzaSyAlWQGkb9mwJx0pZBUlqdIwzBcdGigTpa0"/>
		<add key="DefaultCardProcessingFee" value="2.99"/>
		<add key="DefaultACHProcessingFee" value="0.75"/>
		<!--Environment Configurations for Production-->
		<!--<add key="Environment.Name.PROD" value="PROD" />-->
		<!--<add key="Environment.Url.PROD" value="https://app.praisecms.com" />-->
		<!--Environment Configurations for Dev-->
		<!--<add key="Environment.Name.DEV" value="DEV" />-->
		<!--<add key="Environment.Url.DEV" value="https://localhost:44321" />-->
		<!-- Stewardship Merchant Configurations For Production --><!--
		<add key="Merchant.Username.PROD" value="Praise,_LLC" />
		<add key="Merchant.Password.PROD" value="41A62B2A-A2C9-481D-9D83-45BA6F8E1684" />
		<add key="Merchant.PartnerCode.PROD" value="50" />
		<add key="Merchant.AgentCode.PROD" value="67" />
		<add key="Merchant.Url.PROD" value="https://secure.egsnetwork.com/api/partner/v1/merchants" />
		<add key="Merchant.PaymentUrl.PROD" value="https://www.egsnetwork.com/post/post_responder_v2.php" />
		<add key="Merchant.AppKey.PROD" value="AC7CA40D-18B1-4CC2-B8B6-CA0443B79977" />
		--><!--Only used in CreateTransaction--><!--
		--><!-- Stewardship Merchant Configurations For Dev --><!--
		<add key="Merchant.Username.DEV" value="Praise_CMS" />
		<add key="Merchant.Password.DEV" value="95BD8D71-4511-4B2A-9537-889C5E226D28" />
		<add key="Merchant.PartnerCode.DEV" value="23" />
		<add key="Merchant.AgentCode.DEV" value="23" />
		<add key="Merchant.Url.DEV" value="https://sandbox-secure.stewardshiptechnology.com/api/partner/v1/merchants" />
		<add key="Merchant.PaymentUrl.DEV" value="https://sandbox.egsnetwork.com/post/post_responder_v2.php" />
		<add key="Merchant.AppKey.DEV" value="1ddaae42-47ce-404e-95a1-0e384833b0e3" />
		--><!--Only used in CreateTransaction-->
	</appSettings>
	<system.web>
		<customErrors mode="RemoteOnly"/>
		<sessionState timeout="86400">
		</sessionState>
		<authentication mode="Forms">
			<forms loginUrl="/" name=".ASPXFORMSAUTH" protection="All" path="/" domain="" timeout="30" defaultUrl="~/"/>
		</authentication>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>
		<globalization culture="en-US"/>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="2.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
		<!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
		<legacyHMACWarning enabled="0"/>
		<!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 -->
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<system.net>
		<mailSettings>
			<smtp from="shadimarkazweb@gmail.com">
				<network host="smtp.gmail.com" password="P@kistan123" port="587" userName="shadimarkazweb@gmail.com" enableSsl="true"/>
			</smtp>
		</mailSettings>
		<defaultProxy enabled="true"/>
		<settings>
			<!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
			<!--<servicePointManager checkCertificateRevocationList="true"/>-->
		</settings>
	</system.net>
	<dotNetOpenAuth>
		<messaging>
			<untrustedWebRequest>
				<whitelistHosts>
					<!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
					<!--<add name="localhost" />-->
				</whitelistHosts>
			</untrustedWebRequest>
		</messaging>
		<!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
		<reporting enabled="true"/>
		<!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
		<!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
		<openid>
			<relyingParty>
				<security requireSsl="false">
					<!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
					<!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
						<add endpoint="https://www.google.com/accounts/o8/ud" />
					</trustedProviders>-->
				</security>
				<behaviors>
					<!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
					     with OPs that use Attribute Exchange (in various formats). -->
					<add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty"/>
				</behaviors>
			</relyingParty>
		</openid>
	</dotNetOpenAuth>
	<uri>
		<!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
		     which is necessary for OpenID urls with unicode characters in the domain/host name.
		     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
		<idn enabled="All"/>
		<iriParsing enabled="true"/>
	</uri>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
				type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
				type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
</configuration>