@{
    ViewBag.Title = "Terms & Conditions";
}
<header class="page header color-1 overlay alpha-8 image-background cover gradient gradient-43" style="background-image: url('../../Content/img/bg/waves.jpg')">
    <div class="divider-shape">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="shape-waves" style="left: 0; transform: rotate3d(0,1,0,180deg);">
            <path class="shape-fill shape-fill-1" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z" />
        </svg>
    </div>
    <div class="container pb-9" style="">
        <div class="row">
            <div class="col-md-6">
                <h1 class="regular display-4 color-1 mb-4">Terms & Conditions</h1>
                <p class="lead color-1">Updated August 12, 2019</p>
            </div>
        </div>
    </div>
</header>
<section class="section terms">
    <div class="container pt-md-9">
        <hr class="my-4">
        <p class="bold">Welcome to Payment Jockey</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consequatur culpa cumque, debitis deserunt, ea error labore minima modi odio possimus qui quisquam, sapiente suscipit tenetur ullam veniam vitae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eos impedit quisquam reprehenderit temporibus. Atque consectetur cum delectus dolores est exercitationem, fugit minus, mollitia neque, non perspiciatis quam suscipit vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At debitis deleniti facere fuga iure maxime nihil obcaecati perferendis perspiciatis quo, rem ut voluptas voluptate? A aspernatur exercitationem harum natus quasi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut nobis quos rem? Adipisci amet deserunt distinctio eius id illum itaque odio officiis quia sequi similique, suscipit tempora, temporibus unde?</p>
        <p class="text-uppercase mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam amet aspernatur at delectus dicta dignissimos esse excepturi facilis in ipsum laboriosam minima officiis quae quibusdam quos rem vero voluptatibus!</p>
        <h3>1. General Terms</h3>
        <p class="bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae ea eius facilis molestiae natus nemo nihil, nostrum possimus, quaerat qui repudiandae similique ullam. Eos id iure nam quam rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem doloremque fuga quisquam! Blanditiis cupiditate dicta, explicabo fugit hic iure nihil non odio praesentium qui quidem quos, repudiandae sapiente ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium praesentium quam voluptatum! Aliquam, animi culpa, delectus deleniti, doloribus facere in inventore officia porro repellat reprehenderit similique temporibus unde. Aut, eveniet!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consequatur culpa cumque, debitis deserunt, ea error labore minima modi odio possimus qui quisquam, sapiente suscipit tenetur ullam veniam vitae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eos impedit quisquam reprehenderit temporibus. Atque consectetur cum delectus dolores est exercitationem, fugit minus, mollitia neque, non perspiciatis quam suscipit vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At debitis deleniti facere fuga iure maxime nihil obcaecati perferendis perspiciatis quo, rem ut voluptas voluptate? A aspernatur exercitationem harum natus quasi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut nobis quos rem? Adipisci amet deserunt distinctio eius id illum itaque odio officiis quia sequi similique, suscipit tempora, temporibus unde?</p>
        <h3>2. Ownership and License</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolor eaque exercitationem id illum iste nihil reiciendis repudiandae totam vero. Animi doloremque doloribus esse fugiat nostrum quas quod sit unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut deserunt dolorem dolorum ea, illum ipsa itaque nostrum obcaecati possimus. At eum fugiat hic illum impedit nisi quae quidem reprehenderit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugit id laudantium, maxime molestias natus nesciunt quibusdam. A accusantium esse, eveniet magnam officiis omnis soluta temporibus. Enim non officiis voluptatibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus explicabo illo nam nobis, provident quae qui quis repellat sed sunt. Dicta facilis laborum nemo non praesentium quis, ullam unde voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, assumenda blanditiis cumque deserunt dicta doloribus ducimus, explicabo ipsum laudantium maiores nulla provident quod rem reprehenderit rerum sapiente soluta tempore voluptatibus.</p>
        <h3>3. Your Account</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque distinctio eaque expedita facere voluptatum. Amet aperiam debitis ipsum nesciunt! Assumenda aut beatae consequatur cumque nam neque nulla officiis quaerat quia! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab autem dolorem expedita, facere fuga hic id impedit, ipsam iste nemo nobis nostrum, obcaecati repellendus repudiandae sit unde vel veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur cupiditate enim ex inventore iusto magni minus, nulla odio odit officia perspiciatis repellendus sed similique sit tempore totam voluptas voluptatum.</p>
        <h3>4. No Warranties</h3>
        <p class="text-uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum expedita fuga natus? Eaque eius eos facere incidunt magni molestias nam nulla odio officiis quia quos, sequi ullam voluptate voluptates voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum numquam rerum saepe? At aut culpa eligendi hic libero nesciunt praesentium vitae voluptas! Architecto distinctio itaque necessitatibus officiis quaerat quas voluptates.</p>
        <p class="text-uppercase">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ducimus earum eos error expedita fuga impedit in incidunt inventore maiores molestiae possimus, praesentium saepe sint sunt ullam, unde veritatis!</p>
        <h3>Confidentiality</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque autem, corporis delectus eligendi et eveniet excepturi fugit ipsum iure, nesciunt odit officiis quaerat quidem quo recusandae repellendus saepe veniam voluptate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eos minima quo reiciendis sunt! A adipisci at, dolorem doloribus fuga harum, illum maxime molestiae perferendis quasi repudiandae sed similique voluptatum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet asperiores at consequuntur corporis doloremque eaque eos excepturi exercitationem expedita, illo ipsa odio, officiis quos sit soluta tempore vel voluptatibus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cumque, eum fugiat inventore ipsum iure laudantium, minima nam necessitatibus nesciunt nulla placeat recusandae reiciendis rerum saepe similique suscipit totam. Rerum.</p>
    </div>
</section>

