<a href="/blog" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 module- @Html.IsActive("posts", "blog", true)">Posts</a>
<a href="/blog/categories" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 module- @Html.IsActive("categories", "blog", true)">Categories</a>
<a href="/blog/tags" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 module- @Html.IsActive("tags", "blog", true)">Tags</a>