@{
    ViewBag.Title = "Documentation";
}

<header class="page header color-1 overlay alpha-8 image-background cover gradient gradient-43" style="background-image: url('../../Content/img/bg/waves.jpg')">
    <div class="divider-shape">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="shape-waves" style="left: 0; transform: rotate3d(0,1,0,180deg);">
            <path class="shape-fill shape-fill-1" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z" />
        </svg>
    </div>
    <div class="container" style="">
        <div class="row">
            <div class="col-md-6">
                <h1 class="regular display-4 color-1 mb-4">Documentation</h1>
                <p class="lead color-1">We've passionately designed Praise CMS to help local churches grow their footprint in order to reach as many people as possible and to help win souls for Christ.</p>
            </div>
        </div>
    </div>
</header>
<section class="section overview">
    <div class="container pt-8">
        <div class="section-heading text-center w-75 mx-auto">
            <h2 class="bold">Basic Training</h2>
            <p class="lead">Get started quickly by following the most used pages of the Project Jockey platform.</p>
        </div>
        <div class="row gap-y">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card shadow-box shadow-hover border-0">
                    <a href="#">
                        <div class="content text-center">
                            <img src="~/Content/img/tech.jpg" class="img-fluid" />
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title regular">Signing Up</h4>
                        <p class="card-text color-2">Discover how to get started with DashCore now.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card shadow-box shadow-hover border-0">
                    <a href="#">
                        <div class="content text-center">
                            <img src="~/Content/img/tech.jpg" class="img-fluid" />
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title regular">Accepting Payments</h4>
                        <p class="card-text color-2">Discover how to get started with DashCore now.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card shadow-box shadow-hover border-0">
                    <a href="#">
                        <div class="content text-center">
                            <img src="~/Content/img/tech.jpg" class="img-fluid" />
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title regular">Reports</h4>
                        <p class="card-text color-2">Discover how to get started with DashCore now.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card shadow-box shadow-hover border-0">
                    <a href="#">
                        <div class="content text-center">
                            <img src="~/Content/img/tech.jpg" class="img-fluid" />
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title regular">Staff Management</h4>
                        <p class="card-text color-2">Discover how to get started with DashCore now.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card shadow-box shadow-hover border-0">
                    <a href="#">
                        <div class="content text-center">
                            <img src="~/Content/img/tech.jpg" class="img-fluid" />
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title regular">Increase Giving</h4>
                        <p class="card-text color-2">Discover how to get started with DashCore now.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card shadow-box shadow-hover border-0">
                    <a href="#">
                        <div class="content text-center">
                            <img src="~/Content/img/tech.jpg" class="img-fluid" />
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title regular">Account Setup</h4>
                        <p class="card-text color-2">Discover how to get started with DashCore now.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card shadow-box shadow-hover border-0">
                    <a href="#">
                        <div class="content text-center">
                            <img src="~/Content/img/tech.jpg" class="img-fluid" />
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title regular">Analytics</h4>
                        <p class="card-text color-2">Discover how to get started with DashCore now.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card shadow-box shadow-hover border-0">
                    <a href="#">
                        <div class="content text-center">
                            <img src="~/Content/img/tech.jpg" class="img-fluid" />
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title regular">Events</h4>
                        <p class="card-text color-2">Discover how to get started with DashCore now.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card shadow-box shadow-hover border-0">
                    <a href="#">
                        <div class="content text-center">
                            <img src="~/Content/img/tech.jpg" class="img-fluid" />
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title regular">Member Engagement</h4>
                        <p class="card-text color-2">Discover how to get started with DashCore now.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>